body {
	width: 1360px;
}

main {
    width: 100%;
}

/* 411px - 768px = celular*/
@media (min-width: 411px), (max-width: 914px) {
    .col-8{
	max-width:100%;
	padding:0px;
    }	
    body {
	width:411px;
    }
    main {
        width: 100%;
    }
}

/* 800px - 1024px = telas menores, laptops*/
@media (min-width: 800px) {
    main {
        width: 100%;
    }
}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
    main {
        width: 100%;
    }
}

/* 1200px e + = telas maiores, tvs */
@media (min-width: 1200px) {
    main {
        width: 100%;
    }
}
