body {
	width: 1360px;
}

main {
    width: 100%;
}

/* 480px - 768px = tablet*/
@media (min-width: 411px) {
    main {
        width: 100%;
        background-color: aqua;
    }
}

/* 800px - 1024px = telas menores, laptops*/
@media (min-width: 800px) {
    main {
        width: 100%;
        background-color: rgb(41, 138, 62);
    }
}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
    main {
        width: 100%;
        background-color: rgb(120, 138, 41);
    }
}

/* 1200px e + = telas maiores, tvs */
@media (min-width: 1200px) {
    main {
        width: 100%;
        background-color: rgb(138, 93, 41);
    }
}
