<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Crud Com Python</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Crud Com Python - Feito por Rodrigo Camurça Vera</h1>
    </div>
        <!--Para usar um comando if ex: 
        {% if carro == 'Fiat Uno' %}
            Esse é um carro {{ carro }}
        {% else %}
            Não tem carro com esse nome!
        {% endif %}-->
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/form" class="btn btn-success">Adicionar</a>
    </div>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <form method="get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar...">
            <input type="checkbox" id="modelo-search" name="modelo-search" value="modelo">
            <label for="modelo-search">Modelo</label>
            <input type="checkbox" id="marca-search" name="marca-search" value="marca">
            <label for="marca-search">Marca</label>
        </form>
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Ano</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for dbs in db %}  
              <tr>
                <th>{{ dbs.id }}</th>
                <td>{{ dbs.modelo }}</td>
                <td>{{ dbs.marca }}</td>
                <td>{{ dbs.ano }}</td>
                <td>
                    <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                    <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                    <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <div class="pagination m-auto pt-4 pb-2 text-center">
            <div class="m-auto pt-4 pb-2 text-center">
                {% if db.has_previous %}
                    <a href="?page={{db.previous_page_number}}" class="btn btn-primary"><</a>
                {% endif %}
                {{ db.number }}
                
                {% if db.has_next %}
                    <a href="?page={{db.next_page_number}}" class="btn btn-primary">></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'main.js'%}"></script>
</body>
</html>
